In [1]:
#years = list(range(1989, 2023))

In [40]:
#url_start = "https://www.basketball-reference.com/draft/NBA_{}.html"

In [24]:
#import requests

In [42]:

#for year in years:
#    url = url_start.format(year)
#    data = requests.get(url)
    
#    with open("draft/{}.html".format(year), "w+") as f:
#        f.write(data.text)

In [1]:
#from bs4 import BeautifulSoup

In [2]:
#import pandas as pd

In [8]:
#dfs = []
#for year in years:
#    with open("draft/{}.html".format(year)) as f:
#        page = f.read()
#    soup = BeautifulSoup(page, "html.parser")
#    soup.find('tr', class_='over_header').decompose()
#    draft_table = soup.find(id='stats')
#    draft = pd.read_html(str(draft_table))[0]
#    draft['Year'] = year
    
#    dfs.append(draft)

In [9]:
#drafts = pd.concat(dfs)

# This code was run to work around basketball reference rate limited issue

use since 2006 - when high schoolers were no longer allowed to enter draft

In [1]:
years2 = list(range(2006, 2023))

In [ ]:
url_start = "https://www.basketball-reference.com/draft/NBA_{}.html"

In [4]:
import requests

for year in years2:
    url = url_start.format(year)
    data = requests.get(url)
    
    with open("draft/{}.html".format(year), "w+") as f:
        f.write(data.text)

NameError: name 'url_start' is not defined

In [454]:
from bs4 import BeautifulSoup
import pandas as pd

In [4]:

pd.set_option('display.max_rows', None)

dfs2 = []
for year in years2:
    with open("draft/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_='over_header').decompose()
    draft_table = soup.find(id='stats')
    draft = pd.read_html(str(draft_table))[0]
    draft['Year'] = year
    
    dfs2.append(draft)

In [5]:
drafts = pd.concat(dfs2)

In [6]:
remove = ["Round 2", "Player"]
drafts = drafts[drafts.Player.isin(remove) == False]

# separate into college and international players

In [7]:
college_players = drafts[~drafts['College'].isna()]
college_players = college_players.reset_index(drop=True)

In [420]:
college_players.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
0,2,2,CHI,LaMarcus Aldridge,Texas,16,1076,36242,20558,8736,...,.813,33.7,19.1,8.1,1.9,115.7,.153,1.7,33.4,2006
1,3,3,CHA,Adam Morrison,Gonzaga,3,161,3278,1200,342,...,.710,20.4,7.5,2.1,1.4,-1.4,-.021,-5.0,-2.4,2006
2,4,4,POR,Tyrus Thomas,LSU,8,402,7932,3093,1938,...,.732,19.7,7.7,4.8,0.9,13.0,.078,-1.2,1.7,2006
3,5,5,ATL,Shelden Williams,Duke,6,361,5586,1618,1562,...,.740,15.5,4.5,4.3,0.5,9.9,.085,-3.0,-1.5,2006
4,6,6,MIN,Brandon Roy,Washington,6,326,11561,6136,1388,...,.800,35.5,18.8,4.3,4.7,37.4,.155,3.6,16.3,2006

In [9]:
noncollege_players = drafts[drafts['College'].isna()]
noncollege_players = noncollege_players.reset_index(drop=True)

In [10]:
noncollege_players.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
0,1,1,TOR,Andrea Bargnani,NaN,10,550,15806,7873,2541,...,.824,28.7,14.3,4.6,1.2,18.9,.057,-1.6,1.5,2006
1,10,10,SEA,Mouhamed Sene,NaN,3,47,260,103,75,...,.589,5.5,2.2,1.6,0.0,0.3,.052,-5.1,-0.2,2006
2,13,13,PHI,Thabo Sefolosha,NaN,14,869,19062,4994,3252,...,.732,21.9,5.7,3.7,1.4,39.3,.099,0.6,12.4,2006
3,18,18,WAS,Oleksiy Pecherov,NaN,3,111,1044,438,266,...,.793,9.4,3.9,2.4,0.2,0.5,.025,-4.8,-0.7,2006
4,27,27,PHO,Sergio Rodríguez,NaN,5,353,5281,1747,525,...,.739,15.0,4.9,1.5,3.4,4.3,.039,-2.0,0.1,2006

# convert to player ids needed to access sports reference pages

In [436]:
names = college_players['Player']

In [12]:
player_ids = []
for player in names:
    name = player.lower()
    player_ids.append(name.split(" ")[0] + "-" + name.split(" ")[1] + "-1")

In [292]:
player_ids2 = []
for name in player_ids:
    player_ids2.append(name.replace(".", ""))

player_ids3 = []
for name in player_ids2:
    player_ids3.append(name.replace("'", ""))

In [242]:
player_ids_final = []
for name in player_ids2:
    player_ids_final.append(name.replace("'", ""))

player_ids_final.remove("ricky-ledo-1")
player_ids_final.remove("jay-scrubb-1")
player_ids_final.remove("shaedon-sharpe-1")

In [421]:
len(player_ids3)

815

had to manually change a couple to combat repeated names/nicknames/juniors

In [294]:
player_ids3[player_ids3.index("bobby-jones-1")] = "bobby-jones-2"

In [295]:
player_ids3[player_ids3.index("donté-greene-1")] = "donte-greene-1"

In [296]:
player_ids3[player_ids3.index("henry-walker-1")] = "bill-walker-1"

In [297]:
player_ids3[player_ids3.index("patrick-ewing-1")] = "pat-ewing-1"

In [298]:
player_ids3[player_ids3.index("stéphane-lasme-1")] = "stephane-lasme-1"

In [299]:
player_ids3[player_ids3.index("guillermo-díaz-1")] = "guillermo-diaz-1"

In [300]:
player_ids3[71] = "marcus-williams-2"

In [301]:
player_ids3[player_ids3.index("dee-brown-1")] = "dee-brown-2"

In [302]:
player_ids3[player_ids3.index("luc-mbah-1")] = "luc-richard-mbah-a-moute-1"

In [303]:
player_ids3[player_ids3.index("byron-mullens-1")] = "bj-mullens-1"

In [304]:
player_ids3[player_ids3.index("james-johnson-1")] = "james-johnson-2"

In [305]:
player_ids3[player_ids3.index("gerald-henderson-1")] = "gerald-henderson-2"

In [306]:
player_ids3[player_ids3.index("jeff-ayres-1")] = "jeff-pendergraph-1"

In [307]:
player_ids3[player_ids3.index("wesley-johnson-1")] = "wes-johnson-1"

In [308]:
player_ids3[player_ids3.index("ahman-nivins-1")] = "ahmad-nivins-1"

In [309]:
player_ids3[player_ids3.index("patty-mills-1")] = "patrick-mills-1"

In [310]:
player_ids3[player_ids3.index("greivis-vásquez-1")] = "greivis-vasquez-1"

In [311]:
player_ids3[player_ids3.index("james-anderson-1")] = "james-anderson-3"

In [312]:
player_ids3[player_ids3.index("nikola-vučević-1")] = "nikola-vucevic-1"

In [313]:
player_ids3[player_ids3.index("derrick-williams-1")] = "derrick-williams-2"

In [314]:
player_ids3[player_ids3.index("thomas-robinson-1")] = "thomas-robinson-2"

In [315]:
player_ids3[player_ids3.index("anthony-davis-1")] = "anthony-davis-5"

In [316]:
player_ids3[player_ids3.index("bernard-james-1")] = "bernard-james--1"

In [317]:
player_ids3[player_ids3.index("jeff-taylor-1")] = "jeffery-taylor-1"

In [318]:
player_ids3[player_ids3.index("jared-cunningham-1")] = "jared-cunningham-2"

In [319]:
player_ids3[player_ids3.index("justin-hamilton-1")] = "justin-hamilton-2"

In [320]:
player_ids3[player_ids3.index("mike-scott-1")] = "mike-scott-4"

In [321]:
player_ids3[player_ids3.index("reggie-bullock-1")] = "reggie-bullock-2"

In [322]:
player_ids3[player_ids3.index("tim-hardaway-1")] = "tim-hardaway-jr-1"

In [323]:
player_ids3[player_ids3.index("ryan-kelly-1")] = "ryan-kelly-3"

In [324]:
player_ids3.remove("ricky-ledo-1")

In [325]:
player_ids3[player_ids3.index("tony-mitchell-1")] = "tony-mitchell-4"

In [326]:
player_ids3[player_ids3.index("ray-mccallum-1")] = "ray-mccallum-2"

In [327]:
player_ids3[player_ids3.index("glen-rice-1")] = "glen-rice-jr-1"

In [328]:
player_ids3[player_ids3.index("glenn-robinson-1")] = "glenn-robinson-2"

In [329]:
player_ids3[player_ids3.index("joe-harris-1")] = "joe-harris--1"

In [330]:
player_ids3[player_ids3.index("kyle-anderson-1")] = "kyle-anderson-3"

In [331]:
player_ids3[player_ids3.index("devin-booker-1")] = "devin-booker-2"

In [332]:
player_ids3[player_ids3.index("devyn-marble-1")] = "rov-devyn-marble-1"

In [333]:
player_ids3[player_ids3.index("anthony-brown-1")] = "anthony-brown-5"

In [334]:
player_ids3[player_ids3.index("larry-nance-1")] = "larry-nance-2"

In [335]:
player_ids3[player_ids3.index("aaron-white-1")] = "aaron-white-3"

In [336]:
player_ids3[player_ids3.index("marcus-thornton-1")] = "marcus-thornton-3"

In [337]:
player_ids3[player_ids3.index("joe-young-1")] = "joseph-young-1"

In [338]:
player_ids3[player_ids3.index("skal-labissière-1")] = "skal-labissiere-1"

In [339]:
player_ids3[player_ids3.index("kay-felder-1")] = "kahlil-felder-1"

In [340]:
player_ids3[player_ids3.index("demetrius-jackson-1")] = "demetrius-jackson-2"

In [341]:
player_ids3[player_ids3.index("stephen-zimmerman-1")] = "stephen-zimmermanjr-1"

In [342]:
player_ids3[player_ids3.index("justin-jackson-1")] = "justin-jackson-4"

In [343]:
player_ids3[533] = "justin-jackson-4"

In [344]:
player_ids3[player_ids3.index("bam-adebayo-1")] = "edrice-adebayo-1"

In [345]:
player_ids3[player_ids3.index("dennis-smith-1")] = "dennis-smithjr-1"

In [346]:
player_ids3[player_ids3.index("josh-jackson-1")] = "josh-jackson-2"

In [347]:
player_ids3[player_ids3.index("wes-iwundu-1")] = "wesley-iwundu-1"

In [348]:
player_ids3[player_ids3.index("frank-jackson-1")] = "frank-jackson-2"

In [349]:
player_ids3[player_ids3.index("wendell-carter-1")] = "wendell-carterjr-1"

In [350]:
player_ids3[player_ids3.index("mo-bamba-1")] = "mohamed-bamba-1"

In [351]:
player_ids3[player_ids3.index("jaren-jackson-1")] = "jaren-jacksonjr-1"

In [352]:
player_ids3[player_ids3.index("marvin-bagley-1")] = "marvin-bagleyiii-1"

In [353]:
player_ids3[player_ids3.index("sterling-brown-1")] = "sterling-brown-2"

In [354]:
player_ids3[player_ids3.index("robert-williams-1")] = "robert-williams-3"

In [355]:
player_ids3[player_ids3.index("lonnie-walker-1")] = "lonnie-walker-2"

In [356]:
player_ids3[player_ids3.index("troy-brown-1")] = "troy-brown-5"

In [357]:
player_ids3[player_ids3.index("michael-porter-1")] = "michael-porterjr-1"

In [358]:
player_ids3[player_ids3.index("jerome-robinson-1")] = "jerome-robinson-2"

In [359]:
player_ids3[player_ids3.index("ray-spalding-1")] = "raymond-spalding-1"

In [360]:
player_ids3[player_ids3.index("shake-milton-1")] = "malik-milton-1"

In [361]:
player_ids3[player_ids3.index("vince-edwards-1")] = "vince-edwards-2"

In [362]:
player_ids3[player_ids3.index("svi-mykhailiuk-1")] = "sviatoslav-mykhailiuk-1"

In [365]:
player_ids3[player_ids3.index("justin-jackson-1")] = "justin-jackson-5"

In [366]:
player_ids3[player_ids3.index("bruce-brown-1")] = "bruce-brown-2"

In [367]:
player_ids3[player_ids3.index("gary-trent-1")] = "gary-trentjr-1"

In [368]:
player_ids3[player_ids3.index("cameron-johnson-1")] = "cameron-johnson-4"

In [369]:
player_ids3[player_ids3.index("ja-morant-1")] = "temetrius-morant-1"

In [370]:
player_ids3[player_ids3.index("justin-james-1")] = "justin-james-2"

In [371]:
player_ids3[player_ids3.index("kz-okpala-1")] = "kezie-okpala-1"

In [372]:
player_ids3[player_ids3.index("nic-claxton-1")] = "nicholas-claxton-1"

In [494]:
player_ids3[player_ids3.index("nicholas-claxton-1")] = "nicolas-claxton-1"

In [373]:
player_ids3[player_ids3.index("kevin-porter-1")] = "kevin-porterjr-1"

In [374]:
player_ids3[player_ids3.index("obi-toppin-1")] = "obadiah-toppin-1"

In [375]:
player_ids3[player_ids3.index("patrick-williams-1")] = "patrick-williams-2"

In [376]:
player_ids3[player_ids3.index("anthony-edwards-1")] = "anthony-edwards-2"

In [377]:
player_ids3[player_ids3.index("dewan-hernandez-1")] = "dewan-huell-1"

In [378]:
player_ids3[player_ids3.index("vernon-carey-1")] = "vernon-careyjr-1"

In [379]:
player_ids3[player_ids3.index("josh-green-1")] = "josh-green-2"

In [380]:
player_ids3[player_ids3.index("isaiah-stewart-1")] = "isaiah-stewart-2"

In [381]:
player_ids3[player_ids3.index("kira-lewis-1")] = "kira-lewisjr-1"

In [382]:
player_ids3[player_ids3.index("paul-reed-1")] = "paul-reed-5"

In [383]:
player_ids3.remove("jay-scrubb-1")

In [384]:
player_ids3[player_ids3.index("nick-richards-1")] = "nick-richards-2"

In [385]:
player_ids3[player_ids3.index("robert-woodard-1")] = "robert-woodard-2"

In [386]:
player_ids3[player_ids3.index("jalen-harris-1")] = "jalen-harris-2"

In [387]:
player_ids3[player_ids3.index("isaiah-jackson-1")] = "isaiah-jackson-3"

In [388]:
player_ids3[player_ids3.index("keon-johnson-1")] = "keon-johnson-2"

In [389]:
player_ids3[player_ids3.index("jalen-johnson-1")] = "jalen-johnson-24"

In [390]:
player_ids3[player_ids3.index("trey-murphy-1")] = "trey-murphyiii-1"

In [391]:
player_ids3[player_ids3.index("david-johnson-1")] = "david-johnson-13"

In [392]:
player_ids3[player_ids3.index("greg-brown-1")] = "greg-brown-9"

In [393]:
player_ids3[player_ids3.index("herbert-jones-1")] = "herb-jones-3"

In [394]:
player_ids3[player_ids3.index("cam-thomas-1")] = "cameron-thomas-1"

In [395]:
player_ids3[player_ids3.index("bones-hyland-1")] = "nahshon-hyland-1"

In [396]:
player_ids3.remove("shaedon-sharpe-1")

In [397]:
player_ids3[player_ids3.index("jabari-smith-1")] = "jabari-smith-2"

In [398]:
player_ids3[player_ids3.index("balša-koprivica-1")] = "balsa-koprivica-1"

In [399]:
player_ids3[player_ids3.index("brandon-boston-1")] = "brandon-bostonjr-1"

In [400]:
player_ids3[player_ids3.index("filip-petrušev-1")] = "filip-petrusev-1"

In [401]:
player_ids3[player_ids3.index("johnny-davis-1")] = "jonathan-davis-3"

In [402]:
player_ids3[player_ids3.index("tyty-washington-1")] = "tyty-washingtonjr-1"

In [403]:
player_ids3[player_ids3.index("patrick-baldwin-1")] = "patrick-baldwinjr-1"

In [404]:
player_ids3[player_ids3.index("wendell-moore-1")] = "wendell-moorejr-1"

In [405]:
player_ids3[player_ids3.index("mark-williams-1")] = "mark-williams-7"

In [406]:
player_ids3[player_ids3.index("jalen-williams-1")] = "jalen-williams-13"

In [416]:
player_ids3[player_ids3.index("vince-williams-1")] = "vince-williams-2"

In [417]:
player_ids3[player_ids3.index("moussa-diabaté-1")] = "moussa-diabete-1"

In [514]:
player_ids3[player_ids3.index("moussa-diabete-1")] = "moussa-diabate-1"

In [418]:
player_ids3[player_ids3.index("jaylin-williams-1")] = "jaylin-williams-2"

In [485]:
player_ids3[player_ids3.index("rov-devyn-marble-1")] = "roy-devyn-marble-1"

ValueError: 'rov-devyn-marble-1' is not in list

In [507]:
player_ids3[player_ids3.index("reggie-perry-1")] = "reggie-perry-2"

# used ids to scrape 20 at a time to get around sports reference bot/traffic issues

In [22]:
url_start = "https://www.sports-reference.com/cbb/players/{}.html"

In [281]:
for player in player_ids3[0:20]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [28]:
for player in player_ids3[20:40]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [30]:
for player in player_ids3[40:60]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [407]:
for player in player_ids3[60:80]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [32]:
for player in player_ids3[80:100]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [33]:
for player in player_ids3[100:120]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [36]:
for player in player_ids3[120:140]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [46]:
for player in player_ids3[140:160]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [472]:
for player in player_ids3[160:180]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [58]:
for player in player_ids3[180:200]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [62]:
for player in player_ids3[200:220]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [63]:
for player in player_ids3[220:240]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [69]:
for player in player_ids3[240:260]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [70]:
for player in player_ids3[260:280]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [74]:
for player in player_ids3[280:300]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [79]:
for player in player_ids3[300:320]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [83]:
for player in player_ids3[320:340]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [87]:
for player in player_ids3[340:360]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [95]:
for player in player_ids3[360:380]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [96]:
for player in player_ids3[380:400]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [101]:
for player in player_ids3[400:420]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [486]:
for player in player_ids3[420:440]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [111]:
for player in player_ids3[440:460]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [116]:
for player in player_ids3[460:480]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [120]:
for player in player_ids3[480:500]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [126]:
for player in player_ids3[500:520]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [135]:
for player in player_ids3[520:540]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [146]:
for player in player_ids3[540:560]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [153]:
for player in player_ids3[560:580]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [160]:
for player in player_ids3[580:600]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [499]:
for player in player_ids3[600:620]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [495]:
for player in player_ids3[620:640]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [502]:
for player in player_ids3[640:660]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [192]:
for player in player_ids3[660:680]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [199]:
for player in player_ids3[680:700]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [210]:
for player in player_ids3[700:720]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [216]:
for player in player_ids3[720:740]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [239]:
for player in player_ids3[740:760]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [257]:
for player in player_ids3[760:780]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [408]:
for player in player_ids3[780:800]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [515]:
for player in player_ids3[800:815]:
    url = url_start.format(player)
    data = requests.get(url)
    
    with open("players/{}.html".format(player), "w+") as f:
        f.write(data.text)

In [469]:
import warnings
warnings.filterwarnings('ignore')

In [516]:
# template, use this with a for loop
dfs = []

for player in player_ids3:
    with open("players/{}.html".format(player)) as f:
        page = f.read()
        soup = BeautifulSoup(page, "html.parser")
    player_table = soup.find(id='players_per_game')
    player_df = pd.read_html(str(player_table))[0]
    player_career = player_df.loc[player_df['Season'] == 'Career']
    player_career['Years Played'] = len(player_df.index)
    dfs.append(player_career)

In [517]:
player_df = pd.concat(dfs)

In [437]:
names = list(names)
names.remove("Ricky Ledo")
names.remove("Jay Scrubb")
names.remove("Shaedon Sharpe")

In [519]:
player_df['Player'] = names

In [524]:
college_players.loc[college_players['Player'] == "Ricky Ledo"]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
372,43,43,MIL,Ricky Ledo,Providence,2,28,277,109,38,...,.769,9.9,3.9,1.4,0.8,-0.6,-.096,-7.6,-0.4,2013

In [528]:
college_players.loc[college_players['Player'] == "Jay Scrubb"]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
717,55,55,BRK,Jay Scrubb,John A. Logan College,2,22,205,84,30,...,.800,9.3,3.8,1.4,0.4,-0.1,-.028,-7.3,-0.3,2020

In [529]:
college_players.loc[college_players['Player'] == "Shaedon Sharpe"]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
780,7,7,POR,Shaedon Sharpe,Kentucky,1,40,777,300,97,...,.611,19.4,7.5,2.4,0.5,0.6,.036,-4.3,-0.4,2022

In [548]:
player_df.head(10)

,Season,School,Conf,G,GS,MP,FG,FGA,FG%,2P,...,AST,STL,BLK,TOV,PF,PTS,Unnamed: 27,SOS,Years Played,Player
2,Career,Texas,NaN,53,53,30.2,5.2,8.9,0.586,5.2,...,0.6,1.3,1.8,1.6,2.7,13.5,NaN,7.28,3,LaMarcus Aldridge
3,Career,Gonzaga,NaN,95,62,30.6,7.0,14.0,0.503,5.7,...,2.0,0.7,0.4,1.7,1.7,19.7,NaN,4.23,4,Adam Morrison
1,Career,LSU,NaN,32,21,25.9,4.8,7.8,0.608,4.7,...,1.3,1.0,3.1,1.8,2.6,12.3,NaN,8.77,2,Tyrus Thomas
4,Career,Duke,NaN,139,128,28.1,4.9,8.6,0.572,4.9,...,0.9,1.2,3.0,2.3,3.1,13.9,NaN,9.51,5,Shelden Williams
4,Career,Washington,NaN,103,71,27.5,5.2,10.1,0.512,4.7,...,3.0,1.0,0.5,2.1,2.1,14.3,NaN,6.83,5,Brandon Roy
4,Career,Villanova,NaN,131,128,31.3,5.2,13.1,0.399,3.6,...,3.2,1.5,0.4,2.9,2.7,15.0,NaN,8.37,5,Randy Foye
2,Career,UConn,NaN,64,59,29.8,5.0,10.8,0.461,4.1,...,1.8,1.3,1.7,2.2,2.3,13.6,NaN,7.1,3,Rudy Gay
2,Career,Bradley,NaN,52,47,24.3,4.6,8.4,0.554,4.6,...,0.7,0.9,2.8,1.9,3.1,11.6,NaN,4.97,3,Patrick O'Bryant
4,Career,Duke,NaN,139,134,34.0,5.9,13.7,0.433,2.6,...,2.2,1.1,0.1,2.1,1.6,19.9,NaN,9.51,5,J.J. Redick
4,Career,UConn,NaN,131,56,15.1,1.7,3.1,0.563,1.7,...,0.6,0.3,1.5,1.2,2.1,4.7,NaN,7.4,5,Hilton Armstrong

In [530]:
college_players = college_players.drop([372, 717, 780])

In [547]:
college_players.head(10)

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
0,2,2,CHI,LaMarcus Aldridge,Texas,16,1076,36242,20558,8736,...,.813,33.7,19.1,8.1,1.9,115.7,.153,1.7,33.4,2006
1,3,3,CHA,Adam Morrison,Gonzaga,3,161,3278,1200,342,...,.710,20.4,7.5,2.1,1.4,-1.4,-.021,-5.0,-2.4,2006
2,4,4,POR,Tyrus Thomas,LSU,8,402,7932,3093,1938,...,.732,19.7,7.7,4.8,0.9,13.0,.078,-1.2,1.7,2006
3,5,5,ATL,Shelden Williams,Duke,6,361,5586,1618,1562,...,.740,15.5,4.5,4.3,0.5,9.9,.085,-3.0,-1.5,2006
4,6,6,MIN,Brandon Roy,Washington,6,326,11561,6136,1388,...,.800,35.5,18.8,4.3,4.7,37.4,.155,3.6,16.3,2006
5,7,7,BOS,Randy Foye,Villanova,11,752,19279,7729,1686,...,.852,25.6,10.3,2.2,2.8,23.5,.058,-1.2,3.8,2006
6,8,8,HOU,Rudy Gay,UConn,17,1094,34202,17486,6212,...,.798,31.3,16.0,5.7,2.1,60.8,.085,0.6,22.5,2006
7,9,9,GSW,Patrick O'Bryant,Bradley,4,90,524,186,127,...,.583,5.8,2.1,1.4,0.3,0.5,.046,-4.6,-0.3,2006
8,11,11,ORL,J.J. Redick,Duke,15,940,23964,12028,1903,...,.892,25.5,12.8,2.0,2.0,63.7,.128,0.6,16.0,2006
9,12,12,NOK,Hilton Armstrong,UConn,6,292,3378,880,766,...,.582,11.6,3.0,2.6,0.3,3.9,.055,-4.1,-1.8,2006

In [551]:
pd.set_option('display.max_columns', None)
df = player_df.merge(college_players, left_on = "Player", right_on = "Player")

In [555]:
df.drop(['Season', 'Unnamed: 27', 'School'], axis=1)

,Conf,G_x,GS,MP_x,FG,FGA,FG%_x,2P,2PA,2P%,3P,3PA,3P%_x,FT,FTA,FT%_x,ORB,DRB,TRB_x,AST_x,STL,BLK,TOV,PF,PTS_x,SOS,Years Played,Player,Rk,Pk,Tm,College,Yrs,G_y,MP_y,PTS_y,TRB_y,AST_y,FG%_y,3P%_y,FT%_y,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
0,NaN,53,53,30.2,5.2,8.9,0.586,5.2,8.9,0.586,0.0,0.0,NaN,3.0,4.7,0.649,3.4,4.8,8.2,0.6,1.3,1.8,1.6,2.7,13.5,7.28,3,LaMarcus Aldridge,2,2,CHI,Texas,16,1076,36242,20558,8736,2076,.493,.320,.813,33.7,19.1,8.1,1.9,115.7,.153,1.7,33.4,2006
1,NaN,95,62,30.6,7.0,14.0,0.503,5.7,10.3,0.551,1.3,3.7,0.368,4.2,5.5,0.761,1.3,3.8,5.1,2.0,0.7,0.4,1.7,1.7,19.7,4.23,4,Adam Morrison,3,3,CHA,Gonzaga,3,161,3278,1200,342,222,.373,.331,.710,20.4,7.5,2.1,1.4,-1.4,-.021,-5.0,-2.4,2006
2,NaN,32,21,25.9,4.8,7.8,0.608,4.7,7.8,0.606,0.0,0.0,1.0,2.8,4.3,0.657,2.8,6.4,9.2,1.3,1.0,3.1,1.8,2.6,12.3,8.77,2,Tyrus Thomas,4,4,POR,LSU,8,402,7932,3093,1938,347,.438,.235,.732,19.7,7.7,4.8,0.9,13.0,.078,-1.2,1.7,2006
3,NaN,139,128,28.1,4.9,8.6,0.572,4.9,8.6,0.574,0.0,0.1,0.333,4.0,5.7,0.694,3.2,5.9,9.1,0.9,1.2,3.0,2.3,3.1,13.9,9.51,5,Shelden Williams,5,5,ATL,Duke,6,361,5586,1618,1562,163,.462,.222,.740,15.5,4.5,4.3,0.5,9.9,.085,-3.0,-1.5,2006
4,NaN,103,71,27.5,5.2,10.1,0.512,4.7,8.6,0.541,0.5,1.5,0.344,3.5,4.5,0.765,1.8,3.2,5.0,3.0,1.0,0.5,2.1,2.1,14.3,6.83,5,Brandon Roy,6,6,MIN,Washington,6,326,11561,6136,1388,1517,.459,.348,.800,35.5,18.8,4.3,4.7,37.4,.155,3.6,16.3,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,NaN,34,34,27.0,3.9,6.6,0.584,3.5,5.4,0.638,0.4,1.2,0.341,1.5,2.2,0.689,1.7,3.1,4.9,1.9,1.0,0.4,1.7,2.3,9.7,8.76,2,Kendall Brown,48,48,MIN,Baylor,1,6,40,9,6,3,.571,.000,.500,6.7,1.5,1.0,0.5,0.1,.085,-2.8,0.0,2022
817,NaN,95,72,27.5,3.7,8.1,0.46,3.0,6.1,0.492,0.7,2.0,0.36,2.0,3.3,0.596,2.1,4.9,7.0,2.0,0.6,0.8,1.5,2.2,10.1,7.99,4,Isaiah Mobley,49,49,CLE,USC,1,8,26,9,11,0,.500,.500,NaN,3.3,1.1,1.4,0.0,0.1,.155,1.1,0.0,2022
818,NaN,114,99,30.8,4.2,9.6,0.435,3.0,6.1,0.486,1.2,3.4,0.346,1.6,2.4,0.67,2.3,4.5,6.7,1.3,0.9,0.4,1.7,2.1,11.1,5.36,7,Tyrese Martin,51,51,GSW,UConn,1,11,42,15,6,0,.375,.200,1.000,3.8,1.4,0.5,0.0,0.0,-.020,-7.3,-0.1,2022
819,NaN,33,5,25.8,3.0,6.5,0.463,2.2,4.0,0.565,0.8,2.5,0.301,1.8,2.5,0.728,1.1,3.7,4.8,4.3,1.0,0.4,2.9,1.2,8.5,11.59,2,JD Davison,53,53,BOS,Alabama,1,3,8,2,1,1,.250,.000,NaN,2.7,0.7,0.3,0.3,0.0,-.271,-13.4,0.0,2022
820,NaN,59,33,22.0,3.9,8.1,0.479,2.9,5.6,0.515,1.0,2.5,0.399,2.7,3.5,0.783,1.7,5.4,7.2,0.9,0.6,0.6,1.8,2.3,11.5,7.86,3,Jabari Walker,57,57,POR,Colorado,1,25,222,58,64,14,.423,.231,.688,8.9,2.3,2.6,0.6,0.3,.068,-3.8,-0.1,2022

In [560]:
df['College'].unique()

array(['Texas', 'Gonzaga', 'LSU', 'Duke', 'Washington', 'Villanova',
       'UConn', 'Bradley', 'Arkansas', 'NC State', 'Memphis',
       'Rutgers University', 'South Carolina', 'Kentucky', 'Arizona',
       'Michigan State', 'UCLA', 'Temple', 'Cincinnati', 'Marquette',
       'South Florida', 'Boston College', 'UNC', 'Illinois',
       'Florida State', 'Louisiana Tech', 'California', 'Miami (FL)',
       'George Washington', 'Iowa State', 'Ohio State', 'Florida',
       'Georgetown', 'Texas A&M', 'Georgia Tech', 'Kansas',
       'Eastern Washington', 'USC', 'Colorado State', 'DePaul',
       'Rice University', 'Oregon', 'Wisconsin', 'Purdue', 'Nevada',
       'Alabama', 'Vanderbilt', 'Iowa', 'Marist College', 'UMass',
       'Fresno State', 'Pitt', 'Oklahoma State', 'Syracuse', 'Providence',
       'Maryland', 'Kansas State', 'Indiana', 'West Virginia', 'Stanford',
       'Rider University', 'Western Kentucky', 'IUPUI', 'New Mexico',
       'UAB', 'Washington State', 'Virginia',
       'Brigham Young University Hawaii', 'Virginia Tech', 'Oklahoma',
       'Arizona State', 'Davidson', 'Louisville', 'Wake Forest', 'VCU',
       'Missouri', 'Central Florida', 'Xavier', 'William & Mary',
       "Saint Mary's", "Saint Joseph's",
       'University of Tennessee at Martin', 'Baylor', 'Butler', 'Clemson',
       'Marshall', 'Ole Miss', 'Mississippi State', 'Tulsa', 'Notre Dame',
       'Texas-El Paso', 'BYU', 'Colorado', 'San Diego State', 'Tennessee',
       'Morehead State University', 'Cleveland State University',
       'Richmond', 'Georgia', 'Michigan', 'Hofstra',
       'College of Charleston', 'Oakland', 'Weber State', "St. John's",
       'St. Bonaventure', 'Oregon State', 'UC Santa Barbara',
       'Tennessee Technological University', 'Norfolk State', 'UNLV',
       'Lehigh', 'Murray State', 'Detroit Mercy',
       'University of North Texas', 'South Dakota State', 'Bucknell',
       'Cal State Long Beach', 'Louisiana', 'Creighton', 'Wichita State',
       'Green Bay', 'Utah', 'Wyoming', 'Georgia State University',
       'Bowling Green', 'New Mexico State', 'Seton Hall', 'SMU',
       'Valparaiso', 'Texas Tech', 'Boise State', 'Tulane',
       'Missouri State', 'Penn State', 'UT Arlington', 'Dayton', 'Auburn',
       'Belmont', 'Nebraska', 'Yale', 'TCU', 'Minnesota',
       'Utah State University', 'Houston', 'Loyola (MD)',
       'Ohio University', 'Pepperdine', 'Santa Clara', 'UW-Milwaukee',
       'Toledo'], dtype=object)